openapi: 3.0.3
info:
  title: Felesh Platform API
  version: 1.0.0
  description: >-
    Unified API documentation for the Felesh platform. Covers Authentication, Config Store, RAG, Social Gateway, and
    Interaction History services.
servers:
  - url: https://api.paystar.stg.felesh.ai
    description: Staging
  - url: https://api.paystar.felesh.ai
    description: Production
paths:
  /auth/api/v1/staff/realms/onboard:
    post:
      tags:
        - Onboarding
      summary: Onboard Realm
      operationId: onboard_realm_api_v1_staff_realms_onboard_post
      parameters:
        - name: X-Client-Id
          in: header
          required: false
          schema:
            type: string
            nullable: true
            title: X-Client-Id
        - name: X-Client-Secret
          in: header
          required: false
          schema:
            type: string
            nullable: true
            title: X-Client-Secret
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth_OnboardRealmRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auth_OnboardRealmResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auth_HTTPValidationError'
  /auth/api/v1/staff/realms/{slug}/impersonate:
    post:
      tags:
        - Onboarding
      summary: Impersonate User
      operationId: impersonate_user_api_v1_staff_realms__slug__impersonate_post
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
            title: Slug
          description: The realm slug (Paystar customer's user_id) returned from the onboard response.
        - name: X-Client-Id
          in: header
          required: false
          schema:
            type: string
            nullable: true
            title: X-Client-Id
        - name: X-Client-Secret
          in: header
          required: false
          schema:
            type: string
            nullable: true
            title: X-Client-Secret
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth_ImpersonateUserRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auth_ImpersonateUserResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auth_HTTPValidationError'
  /config/api/v1/org/tenants/:
    get:
      operationId: get_tenant_by_realm
      description: Get the tenant associated with the current realm.
      summary: Get tenant by realm
      tags:
        - Config Store
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: 'Bearer token from impersonate response (e.g. Bearer eyJhbG...)'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Config_Tenant'
          description: Tenant details
        '401':
          description: Authentication required
        '404':
          description: Not found
    post:
      operationId: create_tenant
      description: Create a new tenant for the current realm.
      summary: Create tenant
      tags:
        - Config Store
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: 'Bearer token from impersonate response (e.g. Bearer eyJhbG...)'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Config_CreateTenantRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Config_Tenant'
          description: Tenant created
        '400':
          description: Validation error
        '401':
          description: Authentication required
        '409':
          description: Tenant API key already exists
  /config/api/v1/org/tenants/{tenant_id}/:
    delete:
      operationId: delete_tenant
      description: Delete a tenant by ID.
      summary: Delete tenant
      parameters:
        - in: path
          name: tenant_id
          schema:
            type: string
          required: true
          description: The tenant ID to delete.
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: 'Bearer token from impersonate response (e.g. Bearer eyJhbG...)'
      tags:
        - Config Store
      responses:
        '200':
          description: Tenant deleted
        '401':
          description: Authentication required
        '404':
          description: Not found
  /rag/api/v1/ingest/files:
    post:
      tags:
        - RAG
      summary: Ingest File
      description: >-
        Upload a file for ingestion into the specified domain. Supports PDF, TXT, CSV, JSON, JSONL
        and other document formats up to 100MB. The file is validated and queued for asynchronous
        processing. Returns a task ID for polling status via GET /tasks/{task_id}.
      operationId: ingest_file_api_v1_ingest_files_post
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: Bearer eyJhbGciOiJSUzI1NiIs...
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RAG_Body_ingest_file_api_v1_ingest_files_post'
        required: true
      responses:
        '200':
          description: File submitted successfully for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RAG_IngestResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RAG_HTTPValidationError'
  /rag/api/v1/ingest/records:
    post:
      tags:
        - RAG
      summary: Ingest Records
      description: >-
        Ingest an array of JSON records into the specified domain. Records are validated against
        the domain schema before task creation. Maximum 1000 records per request. Returns a task
        ID for polling status via GET /tasks/{task_id}.
      operationId: ingest_records_api_v1_ingest_records_post
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: Bearer eyJhbGciOiJSUzI1NiIs...
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RAG_IngestRecordsRequest'
        required: true
      responses:
        '200':
          description: Records validated and submitted for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RAG_IngestResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RAG_HTTPValidationError'
  /rag/api/v1/search:
    post:
      tags:
        - RAG
      summary: Search
      description: >-
        Perform hybrid semantic search (embedding + BM25) across the specified domain.
        Returns ranked results with relevance scores and metadata. Supports optional
        metadata filters and configurable result count.
      operationId: search_api_v1_search_post
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: Bearer eyJhbGciOiJSUzI1NiIs...
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RAG_SearchRequest'
        required: true
      responses:
        '200':
          description: Search completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RAG_SearchResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RAG_HTTPValidationError'
  /rag/api/v1/tasks/{task_id}:
    get:
      tags:
        - RAG
      summary: Get Task Status
      description: >-
        Retrieve the status of an asynchronous ingestion task. Tasks are created by the
        Ingest File and Ingest Records endpoints. Poll this endpoint to track progress
        and get results. Status values: pending, processing, completed, failed, cancelled.
      operationId: get_task_status_api_v1_tasks__task_id__get
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: Bearer eyJhbGciOiJSUzI1NiIs...
        - name: task_id
          in: path
          required: true
          description: Unique task identifier returned from an ingestion endpoint.
          schema:
            type: string
            example: batch_a1b2c3d4e5f6
      responses:
        '200':
          description: Task status retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RAG_TaskStatusResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RAG_HTTPValidationError'
  /social/api/v1/platform/instagram/accounts:
    get:
      tags:
        - Social - Instagram
      summary: List Instagram accounts
      description: List all Instagram accounts for the authenticated customer.
      operationId: list_accounts_api_v1_platform_instagram_accounts_get
      parameters:
        - name: user_id
          in: query
          required: false
          schema:
            type: string
            nullable: true
            title: User Id
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: 'Bearer eyJhbGciOiJSUzI1NiIs...'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Social_MetaAccountListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Social_HTTPValidationError'
  /social/api/v1/platform/instagram/accounts/{account_id}:
    get:
      tags:
        - Social - Instagram
      summary: Get Instagram account
      description: Get details of a specific Instagram account.
      operationId: get_account_api_v1_platform_instagram_accounts__account_id__get
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
            title: Account Id
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: 'Bearer eyJhbGciOiJSUzI1NiIs...'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Social_MetaAccountResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Social_HTTPValidationError'
    delete:
      tags:
        - Social - Instagram
      summary: Disconnect Instagram account
      description: Disconnect an Instagram account (deactivates webhook processing).
      operationId: disconnect_account_api_v1_platform_instagram_accounts__account_id__delete
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
            title: Account Id
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: 'Bearer eyJhbGciOiJSUzI1NiIs...'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Social_DisconnectAccountResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Social_HTTPValidationError'
  /social/api/v1/platform/instagram/posts:
    get:
      tags:
        - Social - Instagram
      summary: List Instagram posts
      description: List Instagram posts for a connected account.
      operationId: list_posts_api_v1_platform_instagram_posts_get
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            maximum: 100
            minimum: 1
            default: 25
            title: Limit
        - name: after
          in: query
          required: false
          schema:
            type: string
            nullable: true
            title: After
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: 'Bearer eyJhbGciOiJSUzI1NiIs...'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Social_InstagramPostListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Social_HTTPValidationError'
    post:
      tags:
        - Social - Instagram
      summary: Create Instagram post
      description: Create and publish an Instagram image post.
      operationId: create_post_api_v1_platform_instagram_posts_post
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: 'Bearer eyJhbGciOiJSUzI1NiIs...'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Social_InstagramPostCreateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Social_InstagramPostCreateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Social_HTTPValidationError'
  /social/api/v1/platform/instagram/user-info:
    get:
      tags:
        - Social - Instagram
      summary: Get Instagram user info
      description: Fetch Instagram user info for the connected account.
      operationId: get_user_info_api_v1_platform_instagram_user_info_get
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: 'Bearer eyJhbGciOiJSUzI1NiIs...'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Get User Info Api V1 Platform Instagram User Info Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Social_HTTPValidationError'
  /social/api/v1/platform/instagram/oauth/connect:
    get:
      tags:
        - Social - Instagram
      summary: Start Instagram OAuth
      description: Start the Instagram OAuth flow. Requires a single-use OAuth token.
      operationId: instagram_connect_api_v1_platform_instagram_oauth_connect_get
      parameters:
        - name: callback_url
          in: query
          required: true
          schema:
            type: string
            description: URL to redirect after OAuth
            title: Callback Url
          description: URL to redirect after OAuth
        - name: store_id
          in: query
          required: false
          schema:
            type: string
            nullable: true
            description: End-user's store ID (optional)
            title: Store Id
          description: End-user's store ID (optional)
        - name: store_api_key
          in: query
          required: false
          schema:
            type: string
            nullable: true
            description: End-user's store API key (optional)
            title: Store Api Key
          description: End-user's store API key (optional)
        - name: state
          in: query
          required: false
          schema:
            type: string
            nullable: true
            description: Optional pass-through state
            title: State
          description: Optional pass-through state
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: 'Bearer eyJhbGciOiJSUzI1NiIs...'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Social_HTTPValidationError'
  /interaction/api/v1/org/interactions:
    get:
      tags:
        - Interaction History
      summary: List interactions in realm
      description: List all interactions in the realm with optional user_id filter, search, sorting, and pagination.
      operationId: list_interactions_api_v1_org_interactions_get
      parameters:
        - name: user_id
          in: query
          required: false
          schema:
            type: string
            nullable: true
            description: Filter by user ID
            title: User Id
          description: Filter by user ID
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            description: Page number
            default: 1
            title: Page
          description: Page number
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            maximum: 100
            minimum: 1
            description: Items per page
            default: 20
            title: Page Size
          description: Items per page
        - name: search
          in: query
          required: false
          schema:
            type: string
            nullable: true
            description: Case-insensitive search across title, description, tags, and interaction_id
            title: Search
          description: Case-insensitive search across title, description, tags, and interaction_id
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            description: Sort field
            default: created_at
            title: Sort By
          description: Sort field
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            description: Sort order (asc/desc)
            default: desc
            title: Sort Order
          description: Sort order (asc/desc)
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: 'Bearer eyJhbGciOiJSUzI1NiIs...'
      responses:
        '200':
          description: Paginated list of interactions with their last message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction_PaginatedInteractionListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction_HTTPValidationError'
    post:
      tags:
        - Interaction History
      summary: Create a new interaction
      description: Create a new interaction. Optionally specify user_id to create for another user.
      operationId: create_interaction_api_v1_org_interactions_post
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: 'Bearer eyJhbGciOiJSUzI1NiIs...'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Interaction_OrgCreateInteractionRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction_HTTPValidationError'
  /interaction/api/v1/org/interactions/statistics:
    get:
      tags:
        - Interaction History
      summary: Get interaction statistics
      description: Get counts for total, today, active, archived, and deleted interactions in the realm.
      operationId: get_interaction_statistics_api_v1_org_interactions_statistics_get
      parameters:
        - name: user_id
          in: query
          required: false
          schema:
            type: string
            nullable: true
            description: Filter statistics by user ID
            title: User Id
          description: Filter statistics by user ID
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: 'Bearer eyJhbGciOiJSUzI1NiIs...'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction_HTTPValidationError'
  /interaction/api/v1/org/interactions/{interaction_id}:
    get:
      tags:
        - Interaction History
      summary: Get interaction by ID
      description: Get any interaction in the realm by ID.
      operationId: get_interaction_api_v1_org_interactions__interaction_id__get
      parameters:
        - name: interaction_id
          in: path
          required: true
          schema:
            type: string
            title: Interaction Id
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: 'Bearer eyJhbGciOiJSUzI1NiIs...'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction_HTTPValidationError'
    patch:
      tags:
        - Interaction History
      summary: Update an interaction
      description: Update any interaction in the realm.
      operationId: update_interaction_api_v1_org_interactions__interaction_id__patch
      parameters:
        - name: interaction_id
          in: path
          required: true
          schema:
            type: string
            title: Interaction Id
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: 'Bearer eyJhbGciOiJSUzI1NiIs...'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Interaction_UpdateInteractionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction_HTTPValidationError'
    delete:
      tags:
        - Interaction History
      summary: Delete an interaction
      description: Soft delete any interaction in the realm.
      operationId: delete_interaction_api_v1_org_interactions__interaction_id__delete
      parameters:
        - name: interaction_id
          in: path
          required: true
          schema:
            type: string
            title: Interaction Id
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: 'Bearer eyJhbGciOiJSUzI1NiIs...'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction_HTTPValidationError'
  /interaction/api/v1/org/interactions/{interaction_id}/archive:
    post:
      tags:
        - Interaction History
      summary: Archive an interaction
      description: Archive any interaction in the realm.
      operationId: archive_interaction_api_v1_org_interactions__interaction_id__archive_post
      parameters:
        - name: interaction_id
          in: path
          required: true
          schema:
            type: string
            title: Interaction Id
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: 'Bearer eyJhbGciOiJSUzI1NiIs...'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction_HTTPValidationError'
  /interaction/api/v1/org/interactions/{interaction_id}/messages:
    get:
      tags:
        - Interaction History
      summary: List messages for an interaction
      description: List all messages in any interaction in the realm.
      operationId: list_messages_api_v1_org_interactions__interaction_id__messages_get
      parameters:
        - name: interaction_id
          in: path
          required: true
          schema:
            type: string
            title: Interaction Id
        - name: include_deleted
          in: query
          required: false
          schema:
            type: boolean
            description: Include deleted messages
            default: false
            title: Include Deleted
          description: Include deleted messages
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: 'Bearer eyJhbGciOiJSUzI1NiIs...'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction_HTTPValidationError'
    post:
      tags:
        - Interaction History
      summary: Create a new message
      description: Create a new message in any interaction in the realm.
      operationId: create_message_api_v1_org_interactions__interaction_id__messages_post
      parameters:
        - name: interaction_id
          in: path
          required: true
          schema:
            type: string
            title: Interaction Id
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: 'Bearer eyJhbGciOiJSUzI1NiIs...'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Interaction_CreateMessageRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction_HTTPValidationError'
  /interaction/api/v1/org/interactions/{interaction_id}/messages/{message_id}:
    get:
      tags:
        - Interaction History
      summary: Get message by ID
      description: Get any message in the realm by ID.
      operationId: get_message_api_v1_org_interactions__interaction_id__messages__message_id__get
      parameters:
        - name: interaction_id
          in: path
          required: true
          schema:
            type: string
            title: Interaction Id
        - name: message_id
          in: path
          required: true
          schema:
            type: string
            title: Message Id
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: 'Bearer eyJhbGciOiJSUzI1NiIs...'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction_HTTPValidationError'
    patch:
      tags:
        - Interaction History
      summary: Update a message
      description: Update any message in the realm.
      operationId: update_message_api_v1_org_interactions__interaction_id__messages__message_id__patch
      parameters:
        - name: interaction_id
          in: path
          required: true
          schema:
            type: string
            title: Interaction Id
        - name: message_id
          in: path
          required: true
          schema:
            type: string
            title: Message Id
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: 'Bearer eyJhbGciOiJSUzI1NiIs...'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Interaction_UpdateMessageRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction_HTTPValidationError'
    delete:
      tags:
        - Interaction History
      summary: Delete a message
      description: Soft delete any message in the realm.
      operationId: delete_message_api_v1_org_interactions__interaction_id__messages__message_id__delete
      parameters:
        - name: interaction_id
          in: path
          required: true
          schema:
            type: string
            title: Interaction Id
        - name: message_id
          in: path
          required: true
          schema:
            type: string
            title: Message Id
        - name: Authorization
          in: header
          required: true
          description: Bearer token obtained from the Impersonate User endpoint.
          schema:
            type: string
            example: 'Bearer eyJhbGciOiJSUzI1NiIs...'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction_HTTPValidationError'
components:
  schemas:
    Auth_AnonymousLoginRequest:
      properties:
        user_id:
          type: string
          title: User Id
        device_fingerprint:
          type: string
          nullable: true
          title: Device Fingerprint
      type: object
      required:
        - user_id
      title: AnonymousLoginRequest
    Auth_AnonymousRegisterRequest:
      properties:
        device_fingerprint:
          type: string
          nullable: true
          title: Device Fingerprint
      type: object
      title: AnonymousRegisterRequest
    Auth_AssignRolesRequest:
      properties:
        roles:
          items:
            type: string
          type: array
          minItems: 1
          title: Roles
      type: object
      required:
        - roles
      title: AssignRolesRequest
    Auth_ChangeOwnPasswordRequest:
      properties:
        old_password:
          type: string
          title: Old Password
        new_password:
          type: string
          minLength: 8
          title: New Password
      type: object
      required:
        - old_password
        - new_password
      title: ChangeOwnPasswordRequest
    Auth_ChangePasswordRequest:
      properties:
        old_password:
          type: string
          title: Old Password
        new_password:
          type: string
          minLength: 8
          title: New Password
      type: object
      required:
        - old_password
        - new_password
      title: ChangePasswordRequest
    Auth_ConvertUserRequest:
      properties:
        email:
          type: string
          format: email
          title: Email
        username:
          type: string
          maxLength: 50
          minLength: 3
          title: Username
        password:
          type: string
          minLength: 8
          title: Password
        first_name:
          type: string
          title: First Name
        last_name:
          type: string
          title: Last Name
      type: object
      required:
        - email
        - username
        - password
        - first_name
        - last_name
      title: ConvertUserRequest
    Auth_CreateOrgOwnerRequest:
      properties:
        username:
          type: string
          minLength: 1
          title: Username
        email:
          type: string
          nullable: true
          title: Email
        password:
          type: string
          nullable: true
          title: Password
        first_name:
          type: string
          maxLength: 100
          minLength: 1
          title: First Name
        last_name:
          type: string
          maxLength: 100
          minLength: 1
          title: Last Name
      type: object
      required:
        - username
        - first_name
        - last_name
      title: CreateOrgOwnerRequest
    Auth_CreateRealmRequest:
      properties:
        slug:
          type: string
          maxLength: 63
          minLength: 3
          title: Slug
        display_name:
          type: string
          maxLength: 255
          minLength: 1
          title: Display Name
        enabled:
          type: boolean
          nullable: true
          title: Enabled
      type: object
      required:
        - slug
        - display_name
      title: CreateRealmRequest
    Auth_CreateUserRequest:
      properties:
        username:
          type: string
          maxLength: 50
          minLength: 3
          title: Username
        email:
          type: string
          format: email
          title: Email
        first_name:
          type: string
          maxLength: 100
          minLength: 1
          title: First Name
        last_name:
          type: string
          maxLength: 100
          minLength: 1
          title: Last Name
        enabled:
          type: boolean
          nullable: true
          title: Enabled
        password:
          type: string
          minLength: 8
          title: Password
        roles:
          items:
            type: string
          type: array
          nullable: true
          title: Roles
      type: object
      required:
        - username
        - email
        - first_name
        - last_name
        - password
      title: CreateUserRequest
    Auth_HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/Auth_ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    Auth_ImpersonateUserRequest:
      properties:
        username:
          type: string
          minLength: 1
          title: Username
          description: The customer's username (mobile number or email address).
      type: object
      required:
        - username
      title: ImpersonateUserRequest
    Auth_ImpersonateUserResponse:
      type: object
      title: ImpersonateUserResponse
      properties:
        access_token:
          type: string
          description: JWT access token. Use as Bearer token for all subsequent API calls.
        expires_in:
          type: integer
          description: Access token expiry time in seconds.
        refresh_expires_in:
          type: integer
          description: Refresh token expiry time in seconds.
        refresh_token:
          type: string
          description: JWT refresh token for obtaining new access tokens.
        token_type:
          type: string
          description: Token type (always "Bearer").
        session_state:
          type: string
          description: Session identifier.
        scope:
          type: string
          description: Granted OAuth scopes.
    Auth_LoginRequest:
      properties:
        username:
          type: string
          title: Username
        password:
          type: string
          title: Password
      type: object
      required:
        - username
        - password
      title: LoginRequest
    Auth_LogoutRequest:
      properties:
        refresh_token:
          type: string
          title: Refresh Token
      type: object
      required:
        - refresh_token
      title: LogoutRequest
    Auth_LookupUsersRequest:
      properties:
        user_ids:
          items:
            type: string
          type: array
          nullable: true
          title: User Ids
        emails:
          items:
            type: string
          type: array
          nullable: true
          title: Emails
      type: object
      title: LookupUsersRequest
    Auth_OnboardRealmResponse:
      type: object
      title: OnboardRealmResponse
      properties:
        data:
          type: object
          properties:
            realm:
              type: object
              properties:
                slug:
                  type: string
                  description: Unique realm identifier (the Paystar customer's user_id).
                display_name:
                  type: string
                  description: Human-readable realm name.
                enabled:
                  type: boolean
                  description: Whether the realm is active.
                created_at:
                  type: string
                  nullable: true
                  description: Realm creation timestamp.
                user_count:
                  type: integer
                  description: Number of users in the realm.
            owner:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                  description: Unique owner user ID.
                roles:
                  type: array
                  items:
                    type: string
                  description: Assigned roles for the owner.
                realm_id:
                  type: string
                  description: The realm this owner belongs to.
                email:
                  type: string
                  description: Owner email address.
                username:
                  type: string
                  description: Owner username (mobile or email).
                enabled:
                  type: boolean
                  description: Whether the owner account is active.
                last_name:
                  type: string
                  description: Owner last name.
                first_name:
                  type: string
                  description: Owner first name.
                created_at:
                  type: integer
                  description: Owner creation timestamp (epoch ms).
        metadata:
          type: object
          properties:
            request_id:
              type: string
              format: uuid
              description: Unique request tracking ID.
            timestamp:
              type: string
              format: date-time
              description: Server timestamp of the response.
            processing_time_ms:
              type: number
              nullable: true
              description: Request processing time in milliseconds.
    Auth_OnboardRealmRequest:
      properties:
        slug:
          type: string
          maxLength: 63
          minLength: 1
          title: Slug
          description: Unique identifier for the realm. Use the Paystar customer's user_id.
        display_name:
          type: string
          maxLength: 255
          minLength: 1
          title: Display Name
          description: Human-readable name for the realm (e.g. company name).
        owner_username:
          type: string
          minLength: 1
          title: Owner Username
          description: Username for the realm owner. Can be a mobile number or email address of the customer.
        first_name:
          type: string
          maxLength: 100
          minLength: 1
          title: First Name
          description: First name of the realm owner (optional).
          nullable: true
        last_name:
          type: string
          maxLength: 100
          minLength: 1
          title: Last Name
          description: Last name of the realm owner (optional).
          nullable: true
      type: object
      required:
        - slug
        - display_name
        - owner_username
      title: OnboardRealmRequest
    Auth_RefreshTokenRequest:
      properties:
        refresh_token:
          type: string
          title: Refresh Token
      type: object
      required:
        - refresh_token
      title: RefreshTokenRequest
    Auth_RegisterRequest:
      properties:
        email:
          type: string
          format: email
          title: Email
        username:
          type: string
          maxLength: 50
          minLength: 3
          title: Username
        password:
          type: string
          minLength: 8
          title: Password
        first_name:
          type: string
          title: First Name
        last_name:
          type: string
          title: Last Name
        phone:
          type: string
          nullable: true
          title: Phone
      type: object
      required:
        - email
        - username
        - password
        - first_name
        - last_name
      title: RegisterRequest
    Auth_RemoveRolesRequest:
      properties:
        roles:
          items:
            type: string
          type: array
          minItems: 1
          title: Roles
      type: object
      required:
        - roles
      title: RemoveRolesRequest
    Auth_UpdateOwnProfileRequest:
      properties:
        first_name:
          type: string
          maxLength: 100
          minLength: 1
          nullable: true
          title: First Name
        last_name:
          type: string
          maxLength: 100
          minLength: 1
          nullable: true
          title: Last Name
      type: object
      title: UpdateOwnProfileRequest
    Auth_UpdateProfileRequest:
      properties:
        first_name:
          type: string
          maxLength: 100
          minLength: 1
          nullable: true
          title: First Name
        last_name:
          type: string
          maxLength: 100
          minLength: 1
          nullable: true
          title: Last Name
      type: object
      title: UpdateProfileRequest
    Auth_UpdateRealmRequest:
      properties:
        display_name:
          type: string
          maxLength: 255
          minLength: 1
          nullable: true
          title: Display Name
        enabled:
          type: boolean
          nullable: true
          title: Enabled
      type: object
      title: UpdateRealmRequest
    Auth_UpdateUserRequest:
      properties:
        email:
          type: string
          format: email
          nullable: true
          title: Email
        first_name:
          type: string
          maxLength: 100
          minLength: 1
          nullable: true
          title: First Name
        last_name:
          type: string
          maxLength: 100
          minLength: 1
          nullable: true
          title: Last Name
        enabled:
          type: boolean
          nullable: true
          title: Enabled
      type: object
      title: UpdateUserRequest
    Auth_ValidateTokenRequest:
      properties:
        token:
          type: string
          title: Token
      type: object
      required:
        - token
      title: ValidateTokenRequest
    Auth_ValidationError:
      properties:
        loc:
          items:
            anyOf:
              - type: string
              - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
        - loc
        - msg
        - type
      title: ValidationError
    Config_AgentSummary:
      type: object
      description: Response serializer for agent summary in widget config.
      properties:
        id:
          type: string
          format: uuid
          description: Agent UUID
        title:
          type: string
          description: Agent display name
        slug:
          type: string
          description: Agent slug
      required:
        - id
        - slug
        - title
    Config_AppConfig:
      type: object
      description: Response serializer for a single app config with full details.
      properties:
        id:
          type: string
          format: uuid
          description: App config UUID
        token:
          type: string
          format: uuid
          description: Immutable app config token
        title:
          type: string
          nullable: true
          description: App title
        language:
          type: string
          nullable: true
          description: App language
        app_domain:
          type: string
          nullable: true
          description: App domain
        is_active:
          type: boolean
          description: Whether app config is enabled
        theme:
          nullable: true
          description: Theme configuration
        welcome:
          nullable: true
          description: Welcome configuration as array (use is_default)
        settings:
          nullable: true
          description: Settings configuration
        realm:
          type: string
          description: Tenant identifier
        created_at:
          type: string
          format: date-time
          nullable: true
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: Last update timestamp
        agent:
          allOf:
            - $ref: '#/components/schemas/Config_AgentSummary'
          nullable: true
          description: Related agent summary
        logo:
          allOf:
            - $ref: '#/components/schemas/Config_FileDetail'
          nullable: true
          description: Logo file details
      required:
        - id
        - realm
        - token
    Config_AppConfigListItem:
      type: object
      description: Response serializer for app config in list (minimal fields).
      properties:
        id:
          type: string
          format: uuid
          description: App config UUID
        token:
          type: string
          format: uuid
          description: Immutable app config token
        title:
          type: string
          nullable: true
          description: App title
        language:
          type: string
          nullable: true
          description: App language
        app_domain:
          type: string
          nullable: true
          description: App domain
        is_active:
          type: boolean
          description: Whether app config is enabled
        realm:
          type: string
          description: Tenant identifier
        created_at:
          type: string
          format: date-time
          nullable: true
          description: Creation timestamp
        agent:
          allOf:
            - $ref: '#/components/schemas/Config_AgentSummary'
          nullable: true
          description: Related agent summary
        logo:
          allOf:
            - $ref: '#/components/schemas/Config_FileSummary'
          nullable: true
          description: Logo file summary
      required:
        - id
        - realm
        - token
    Config_AppConfigListResponse:
      type: object
      description: Response serializer for paginated app config list.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Config_AppConfigListItem'
          description: List of app configs
        pagination:
          allOf:
            - $ref: '#/components/schemas/Config_AppConfigPagination'
          description: Pagination metadata
      required:
        - data
        - pagination
    Config_AppConfigPagination:
      type: object
      description: Pagination metadata serializer.
      properties:
        page:
          type: integer
          description: Current page number
        page_size:
          type: integer
          description: Items per page
        total:
          type: integer
          description: Total number of items
        total_pages:
          type: integer
          description: Total number of pages
        has_next:
          type: boolean
          description: Has next page
        has_prev:
          type: boolean
          description: Has previous page
      required:
        - has_next
        - has_prev
        - page
        - page_size
        - total
        - total_pages
    Config_AuthModeEnum:
      enum:
        - ANONYMOUS
        - PREMIUM
        - FREEMIUM
      type: string
      description: |-
        * `ANONYMOUS` - ANONYMOUS
        * `PREMIUM` - PREMIUM
        * `FREEMIUM` - FREEMIUM
    Config_BubbleTypeEnum:
      enum:
        - IMAGE
        - SVG
      type: string
      description: |-
        * `IMAGE` - IMAGE
        * `SVG` - SVG
    Config_CreateAppConfigRequest:
      type: object
      description: Request serializer for creating an app config.
      properties:
        agent_id:
          type: string
          format: uuid
          description: Agent UUID this app config belongs to
        logo_id:
          type: string
          format: uuid
          nullable: true
          description: File UUID for app logo
        title:
          type: string
          nullable: true
          description: Optional app title
          maxLength: 255
        language:
          nullable: true
          description: |-
            App language (EN/FA)

            * `EN` - EN
            * `FA` - FA
          oneOf:
            - $ref: '#/components/schemas/Config_LanguageEnum'
            - $ref: '#/components/schemas/Config_NullEnum'
        app_domain:
          type: string
          nullable: true
          description: Optional app domain
          maxLength: 255
        is_active:
          type: boolean
          default: true
          description: Whether app config is enabled
        theme:
          nullable: true
          description: Theme configuration as JSON
        welcome:
          nullable: true
          description: Welcome configuration as JSON array (use is_default)
        settings:
          nullable: true
          description: Settings configuration as JSON
      required:
        - agent_id
    Config_CreateTenantRequest:
      type: object
      description: Request serializer for creating a tenant.
      properties:
        name:
          type: string
          maxLength: 255
        enabled:
          type: boolean
          default: true
        requests_per_minute:
          type: integer
          minimum: 1
        burst_allowance:
          type: integer
          minimum: 0
        domains:
          type: array
          items:
            $ref: '#/components/schemas/Config_DomainsEnum'
      required:
        - burst_allowance
        - name
        - requests_per_minute
    Config_CreateWidgetConfigRequest:
      type: object
      description: |-
        Request serializer for creating a widget config with nested entities.

        Note: slug is auto-generated from brand_name and is not accepted in requests.
      properties:
        agent_id:
          type: string
          format: uuid
          description: Agent UUID this widget belongs to
        brand_name:
          type: string
          description: Brand name displayed in the widget (slug is auto-generated from this)
          maxLength: 255
        auth_mode:
          allOf:
            - $ref: '#/components/schemas/Config_AuthModeEnum'
          description: |-
            Authentication mode for widget users

            * `ANONYMOUS` - ANONYMOUS
            * `PREMIUM` - PREMIUM
            * `FREEMIUM` - FREEMIUM
        logo_id:
          type: string
          format: uuid
          nullable: true
          description: File UUID for widget logo
        title:
          type: string
          nullable: true
          description: Optional title for the widget
          maxLength: 255
        language:
          nullable: true
          description: |-
            Widget language (EN/FA)

            * `EN` - EN
            * `FA` - FA
          oneOf:
            - $ref: '#/components/schemas/Config_LanguageEnum'
            - $ref: '#/components/schemas/Config_NullEnum'
        theme:
          nullable: true
          description: Theme configuration as JSON
        config:
          nullable: true
          description: Additional configuration as JSON
        is_active:
          type: boolean
          default: true
          description: Whether the widget is enabled
        show_on_mobile:
          type: boolean
          default: true
          description: Whether to show widget on mobile devices
        full_screen_on_mobile:
          type: boolean
          default: false
          description: Whether to use full screen mode on mobile
        mobile_position:
          nullable: true
          description: 'Mobile position configuration as JSON (e.g., {bottom: 20, right: 20})'
        bubble:
          allOf:
            - $ref: '#/components/schemas/Config_WidgetBubbleRequest'
          nullable: true
          description: Widget bubble configuration
        welcome_messages:
          type: array
          items:
            $ref: '#/components/schemas/Config_WelcomeMessageRequest'
          nullable: true
          description: Welcome messages (one per language)
      required:
        - agent_id
        - auth_mode
        - brand_name
    Config_DomainsEnum:
      enum:
        - product
        - document
      type: string
      description: |-
        * `product` - product
        * `document` - document
    Config_File:
      type: object
      description: Response serializer for a single file.
      properties:
        id:
          type: string
          format: uuid
          description: File UUID
        filename:
          type: string
          description: Original filename
        content_type:
          type: string
          description: MIME type
        size:
          type: integer
          description: File size in bytes
        path:
          type: string
          description: Storage path
        realm:
          type: string
          description: Tenant identifier
        created_at:
          type: string
          format: date-time
          nullable: true
          description: Upload timestamp
      required:
        - content_type
        - filename
        - id
        - path
        - realm
        - size
    Config_FileDetail:
      type: object
      description: Response serializer for file with full details.
      properties:
        id:
          type: string
          format: uuid
          description: File UUID
        filename:
          type: string
          description: Original filename
        content_type:
          type: string
          description: MIME type
        path:
          type: string
          description: Storage path
      required:
        - content_type
        - filename
        - id
        - path
    Config_FileSummary:
      type: object
      description: Response serializer for file summary.
      properties:
        id:
          type: string
          format: uuid
          description: File UUID
        filename:
          type: string
          description: Original filename
      required:
        - filename
        - id
    Config_FileUploadResponse:
      type: object
      description: Response serializer for file upload response.
      properties:
        file_id:
          type: string
          format: uuid
          description: Uploaded file UUID
        filename:
          type: string
          description: Original filename
        content_type:
          type: string
          description: MIME type
        size:
          type: integer
          description: File size in bytes
        path:
          type: string
          description: Storage path
      required:
        - content_type
        - file_id
        - filename
        - path
        - size
    Config_LanguageEnum:
      enum:
        - EN
        - FA
      type: string
      description: |-
        * `EN` - EN
        * `FA` - FA
    Config_NullEnum:
      enum:
        - null
    Config_PatchedUpdateAppConfigRequest:
      type: object
      description: Request serializer for updating an app config (partial update).
      properties:
        logo_id:
          type: string
          format: uuid
          nullable: true
          description: File UUID for app logo
        title:
          type: string
          nullable: true
          description: Optional app title
          maxLength: 255
        language:
          nullable: true
          description: |-
            App language (EN/FA)

            * `EN` - EN
            * `FA` - FA
          oneOf:
            - $ref: '#/components/schemas/Config_LanguageEnum'
            - $ref: '#/components/schemas/Config_NullEnum'
        app_domain:
          type: string
          nullable: true
          description: Optional app domain
          maxLength: 255
        is_active:
          type: boolean
          description: Whether app config is enabled
        theme:
          nullable: true
          description: Theme configuration as JSON
        welcome:
          nullable: true
          description: Welcome configuration as JSON array (use is_default)
        settings:
          nullable: true
          description: Settings configuration as JSON
    Config_PatchedUpdateWidgetConfigRequest:
      type: object
      description: |-
        Request serializer for updating a widget config (partial update).

        Note: slug cannot be updated (auto-generated on creation).
      properties:
        brand_name:
          type: string
          description: Brand name displayed in the widget
          maxLength: 255
        auth_mode:
          allOf:
            - $ref: '#/components/schemas/Config_AuthModeEnum'
          description: |-
            Authentication mode for widget users

            * `ANONYMOUS` - ANONYMOUS
            * `PREMIUM` - PREMIUM
            * `FREEMIUM` - FREEMIUM
        logo_id:
          type: string
          format: uuid
          nullable: true
          description: File UUID for widget logo
        title:
          type: string
          nullable: true
          description: Optional title for the widget
          maxLength: 255
        language:
          nullable: true
          description: |-
            Widget language (EN/FA)

            * `EN` - EN
            * `FA` - FA
          oneOf:
            - $ref: '#/components/schemas/Config_LanguageEnum'
            - $ref: '#/components/schemas/Config_NullEnum'
        theme:
          nullable: true
          description: Theme configuration as JSON
        config:
          nullable: true
          description: Additional configuration as JSON
        is_active:
          type: boolean
          description: Whether the widget is enabled
        show_on_mobile:
          type: boolean
          description: Whether to show widget on mobile devices
        full_screen_on_mobile:
          type: boolean
          description: Whether to use full screen mode on mobile
        mobile_position:
          nullable: true
          description: 'Mobile position configuration as JSON (e.g., {bottom: 20, right: 20})'
        powered_by:
          type: boolean
          description: Whether to show 'Powered by' branding in the widget
        bubble:
          allOf:
            - $ref: '#/components/schemas/Config_WidgetBubbleRequest'
          nullable: true
          description: Widget bubble configuration
        welcome_messages:
          type: array
          items:
            $ref: '#/components/schemas/Config_UpdateWelcomeMessageRequest'
          nullable: true
          description: Welcome messages updates (one per language)
    Config_PublicAgent:
      type: object
      description: Response serializer for agent details in public widget/app config.
      properties:
        id:
          type: string
          format: uuid
          description: Agent UUID
        title:
          type: string
          description: Agent display name
        slug:
          type: string
          description: Agent slug
        agent_type:
          type: string
          description: Type of agent
        description:
          type: string
          nullable: true
          description: Agent description
        icon_url:
          type: string
          format: uri
          nullable: true
          description: URL to agent icon
        realm:
          type: string
          description: Tenant identifier
      required:
        - agent_type
        - id
        - realm
        - slug
        - title
    Config_PublicAppConfig:
      type: object
      description: Response serializer for public app config access.
      properties:
        id:
          type: string
          format: uuid
          description: App config UUID
        token:
          type: string
          format: uuid
          description: App config token
        title:
          type: string
          nullable: true
          description: App title
        language:
          type: string
          nullable: true
          description: App language
        app_domain:
          type: string
          nullable: true
          description: App domain
        is_active:
          type: boolean
          description: Whether app config is enabled
        theme:
          nullable: true
          description: Theme configuration
        welcome:
          nullable: true
          description: Welcome configuration as array (use is_default)
        settings:
          nullable: true
          description: Settings configuration
        realm:
          type: string
          description: Tenant identifier
        created_at:
          type: string
          format: date-time
          nullable: true
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: Last update timestamp
        agent:
          allOf:
            - $ref: '#/components/schemas/Config_PublicAgent'
          nullable: true
          description: Agent details
        logo:
          allOf:
            - $ref: '#/components/schemas/Config_PublicFileDetail'
          nullable: true
          description: Logo file details
      required:
        - id
        - is_active
        - realm
        - token
    Config_PublicFileDetail:
      type: object
      description: Response serializer for file details in public widget/app config.
      properties:
        id:
          type: string
          format: uuid
          description: File UUID
        filename:
          type: string
          description: Original filename
        content_type:
          type: string
          description: MIME type
        path:
          type: string
          description: Storage path
      required:
        - content_type
        - filename
        - id
        - path
    Config_PublicWelcomeMessage:
      type: object
      description: Response serializer for default welcome message in public widget config.
      properties:
        id:
          type: string
          format: uuid
          description: Welcome message UUID
        message:
          type: string
          description: Primary welcome message
        text:
          type: string
          nullable: true
          description: Additional text/subtitle
        language:
          type: string
          description: Language code for this welcome message (FA/EN)
      required:
        - id
        - language
        - message
    Config_PublicWidgetBubble:
      type: object
      description: Response serializer for widget bubble in public widget config.
      properties:
        id:
          type: string
          format: uuid
          description: Bubble UUID
        bubble_type:
          type: string
          description: Type of bubble (IMAGE/SVG)
        icon_content:
          type: string
          nullable: true
          description: SVG markup content
        placeholder:
          nullable: true
          description: Placeholder configuration
        image_file:
          allOf:
            - $ref: '#/components/schemas/Config_PublicFileDetail'
          nullable: true
          description: Image file details
      required:
        - bubble_type
        - id
    Config_PublicWidgetConfig:
      type: object
      description: Response serializer for public widget config access.
      properties:
        id:
          type: string
          format: uuid
          description: Widget config UUID
        brand_name:
          type: string
          description: Brand name
        slug:
          type: string
          description: URL-friendly identifier
        auth_mode:
          type: string
          description: Authentication mode
        title:
          type: string
          nullable: true
          description: Widget title
        language:
          type: string
          nullable: true
          description: Widget language
        theme:
          nullable: true
          description: Theme configuration
        config:
          nullable: true
          description: Additional configuration
        show_on_mobile:
          type: boolean
          description: Show on mobile devices
        full_screen_on_mobile:
          type: boolean
          description: Full screen on mobile
        mobile_position:
          nullable: true
          description: Mobile position configuration
        powered_by:
          type: boolean
          description: Show 'Powered by' branding
        agent:
          allOf:
            - $ref: '#/components/schemas/Config_PublicAgent'
          nullable: true
          description: Agent details
        logo:
          allOf:
            - $ref: '#/components/schemas/Config_PublicFileDetail'
          nullable: true
          description: Logo file details
        bubble:
          allOf:
            - $ref: '#/components/schemas/Config_PublicWidgetBubble'
          nullable: true
          description: Widget bubble configuration
        welcome_message:
          allOf:
            - $ref: '#/components/schemas/Config_PublicWelcomeMessage'
          nullable: true
          description: Default welcome message
      required:
        - auth_mode
        - brand_name
        - full_screen_on_mobile
        - id
        - powered_by
        - show_on_mobile
        - slug
    Config_Tenant:
      type: object
      description: Response serializer for tenant details.
      properties:
        id:
          type: string
          format: uuid
        realm:
          type: string
        name:
          type: string
        api_key:
          type: string
        enabled:
          type: boolean
        requests_per_minute:
          type: integer
        burst_allowance:
          type: integer
        domains:
          type: array
          items:
            $ref: '#/components/schemas/Config_DomainsEnum'
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
      required:
        - api_key
        - burst_allowance
        - created_at
        - domains
        - enabled
        - id
        - name
        - realm
        - requests_per_minute
        - updated_at
    Config_UpdateAppConfigRequest:
      type: object
      description: Request serializer for updating an app config (partial update).
      properties:
        logo_id:
          type: string
          format: uuid
          nullable: true
          description: File UUID for app logo
        title:
          type: string
          nullable: true
          description: Optional app title
          maxLength: 255
        language:
          nullable: true
          description: |-
            App language (EN/FA)

            * `EN` - EN
            * `FA` - FA
          oneOf:
            - $ref: '#/components/schemas/Config_LanguageEnum'
            - $ref: '#/components/schemas/Config_NullEnum'
        app_domain:
          type: string
          nullable: true
          description: Optional app domain
          maxLength: 255
        is_active:
          type: boolean
          description: Whether app config is enabled
        theme:
          nullable: true
          description: Theme configuration as JSON
        welcome:
          nullable: true
          description: Welcome configuration as JSON array (use is_default)
        settings:
          nullable: true
          description: Settings configuration as JSON
    Config_UpdateWelcomeMessageRequest:
      type: object
      description: Request serializer for updating welcome message (with optional ID).
      properties:
        id:
          type: string
          format: uuid
          nullable: true
          description: Welcome message UUID (for update). If not provided, creates new message.
        message:
          type: string
          description: Primary welcome message content
        text:
          type: string
          nullable: true
          description: Additional text or subtitle
        language:
          allOf:
            - $ref: '#/components/schemas/Config_LanguageEnum'
          default: FA
          description: |-
            Language code for this welcome message (FA/EN)

            * `FA` - FA
            * `EN` - EN
        is_default:
          type: boolean
          default: false
          description: Whether this is the default welcome message for the widget
    Config_UpdateWidgetConfigRequest:
      type: object
      description: |-
        Request serializer for updating a widget config (partial update).

        Note: slug cannot be updated (auto-generated on creation).
      properties:
        brand_name:
          type: string
          description: Brand name displayed in the widget
          maxLength: 255
        auth_mode:
          allOf:
            - $ref: '#/components/schemas/Config_AuthModeEnum'
          description: |-
            Authentication mode for widget users

            * `ANONYMOUS` - ANONYMOUS
            * `PREMIUM` - PREMIUM
            * `FREEMIUM` - FREEMIUM
        logo_id:
          type: string
          format: uuid
          nullable: true
          description: File UUID for widget logo
        title:
          type: string
          nullable: true
          description: Optional title for the widget
          maxLength: 255
        language:
          nullable: true
          description: |-
            Widget language (EN/FA)

            * `EN` - EN
            * `FA` - FA
          oneOf:
            - $ref: '#/components/schemas/Config_LanguageEnum'
            - $ref: '#/components/schemas/Config_NullEnum'
        theme:
          nullable: true
          description: Theme configuration as JSON
        config:
          nullable: true
          description: Additional configuration as JSON
        is_active:
          type: boolean
          description: Whether the widget is enabled
        show_on_mobile:
          type: boolean
          description: Whether to show widget on mobile devices
        full_screen_on_mobile:
          type: boolean
          description: Whether to use full screen mode on mobile
        mobile_position:
          nullable: true
          description: 'Mobile position configuration as JSON (e.g., {bottom: 20, right: 20})'
        powered_by:
          type: boolean
          description: Whether to show 'Powered by' branding in the widget
        bubble:
          allOf:
            - $ref: '#/components/schemas/Config_WidgetBubbleRequest'
          nullable: true
          description: Widget bubble configuration
        welcome_messages:
          type: array
          items:
            $ref: '#/components/schemas/Config_UpdateWelcomeMessageRequest'
          nullable: true
          description: Welcome messages updates (one per language)
    Config_WelcomeMessageRequest:
      type: object
      description: Request serializer for welcome message nested entity.
      properties:
        message:
          type: string
          description: Primary welcome message content
        text:
          type: string
          nullable: true
          description: Additional text or subtitle
        language:
          allOf:
            - $ref: '#/components/schemas/Config_LanguageEnum'
          default: FA
          description: |-
            Language code for this welcome message (FA/EN)

            * `FA` - FA
            * `EN` - EN
        is_default:
          type: boolean
          default: false
          description: Whether this is the default welcome message for the widget
      required:
        - message
    Config_WelcomeMessageResponse:
      type: object
      description: Response serializer for welcome message.
      properties:
        id:
          type: string
          format: uuid
          description: Welcome message UUID
        message:
          type: string
          description: Primary welcome message
        text:
          type: string
          nullable: true
          description: Additional text/subtitle
        language:
          type: string
          description: Language code for this welcome message (FA/EN)
        is_default:
          type: boolean
          description: Whether this is the default welcome message
      required:
        - id
        - is_default
        - language
        - message
    Config_WidgetBubbleRequest:
      type: object
      description: Request serializer for widget bubble nested entity.
      properties:
        bubble_type:
          allOf:
            - $ref: '#/components/schemas/Config_BubbleTypeEnum'
          description: |-
            Type of bubble display (IMAGE or SVG)

            * `IMAGE` - IMAGE
            * `SVG` - SVG
        image_file_id:
          type: string
          format: uuid
          nullable: true
          description: File UUID for IMAGE type bubble
        icon_content:
          type: string
          nullable: true
          description: SVG markup content for SVG type bubble
        placeholder:
          nullable: true
          description: Placeholder configuration as JSON object
      required:
        - bubble_type
    Config_WidgetBubbleResponse:
      type: object
      description: Response serializer for widget bubble.
      properties:
        id:
          type: string
          format: uuid
          description: Bubble UUID
        bubble_type:
          type: string
          description: Type of bubble (IMAGE/SVG)
        icon_content:
          type: string
          nullable: true
          description: SVG markup content
        placeholder:
          nullable: true
          description: Placeholder configuration
        image_file:
          allOf:
            - $ref: '#/components/schemas/Config_FileDetail'
          nullable: true
          description: Image file details
      required:
        - bubble_type
        - id
    Config_WidgetConfig:
      type: object
      description: Response serializer for a single widget config with full details.
      properties:
        id:
          type: string
          format: uuid
          description: Widget config UUID
        brand_name:
          type: string
          description: Brand name
        slug:
          type: string
          description: URL-friendly identifier
        token:
          type: string
          format: uuid
          description: Immutable widget token for embedding
        is_active:
          type: boolean
          description: Whether widget is enabled
        auth_mode:
          type: string
          description: Authentication mode
        title:
          type: string
          nullable: true
          description: Widget title
        language:
          type: string
          nullable: true
          description: Widget language
        theme:
          nullable: true
          description: Theme configuration
        config:
          nullable: true
          description: Additional configuration
        show_on_mobile:
          type: boolean
          description: Show on mobile devices
        full_screen_on_mobile:
          type: boolean
          description: Full screen on mobile
        mobile_position:
          nullable: true
          description: Mobile position configuration
        powered_by:
          type: boolean
          description: Show 'Powered by' branding
        realm:
          type: string
          description: Tenant identifier
        created_at:
          type: string
          format: date-time
          nullable: true
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: Last update timestamp
        agent:
          allOf:
            - $ref: '#/components/schemas/Config_AgentSummary'
          nullable: true
          description: Related agent summary
        logo:
          allOf:
            - $ref: '#/components/schemas/Config_FileDetail'
          nullable: true
          description: Logo file details
        bubble:
          allOf:
            - $ref: '#/components/schemas/Config_WidgetBubbleResponse'
          nullable: true
          description: Widget bubble configuration
        welcome_messages:
          type: array
          items:
            $ref: '#/components/schemas/Config_WelcomeMessageResponse'
          description: Welcome messages (one per language)
      required:
        - auth_mode
        - brand_name
        - full_screen_on_mobile
        - id
        - is_active
        - powered_by
        - realm
        - show_on_mobile
        - slug
        - token
    Config_WidgetConfigListItem:
      type: object
      description: Response serializer for widget config in list (minimal fields).
      properties:
        id:
          type: string
          format: uuid
          description: Widget config UUID
        brand_name:
          type: string
          description: Brand name
        slug:
          type: string
          description: URL-friendly identifier
        is_active:
          type: boolean
          description: Whether widget is enabled
        auth_mode:
          type: string
          description: Authentication mode
        title:
          type: string
          nullable: true
          description: Widget title
        language:
          type: string
          nullable: true
          description: Widget language
        show_on_mobile:
          type: boolean
          description: Show on mobile devices
        realm:
          type: string
          description: Tenant identifier
        created_at:
          type: string
          format: date-time
          nullable: true
          description: Creation timestamp
        agent:
          allOf:
            - $ref: '#/components/schemas/Config_AgentSummary'
          nullable: true
          description: Related agent summary
        logo:
          allOf:
            - $ref: '#/components/schemas/Config_FileSummary'
          nullable: true
          description: Logo file summary
      required:
        - auth_mode
        - brand_name
        - id
        - is_active
        - realm
        - show_on_mobile
        - slug
    Config_WidgetConfigListResponse:
      type: object
      description: Response serializer for paginated widget config list.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Config_WidgetConfigListItem'
          description: List of widget configs
        pagination:
          allOf:
            - $ref: '#/components/schemas/Config_WidgetConfigPagination'
          description: Pagination metadata
      required:
        - data
        - pagination
    Config_WidgetConfigPagination:
      type: object
      description: Pagination metadata serializer.
      properties:
        page:
          type: integer
          description: Current page number
        page_size:
          type: integer
          description: Items per page
        total:
          type: integer
          description: Total number of items
        total_pages:
          type: integer
          description: Total number of pages
        has_next:
          type: boolean
          description: Has next page
        has_prev:
          type: boolean
          description: Has previous page
      required:
        - has_next
        - has_prev
        - page
        - page_size
        - total
        - total_pages
    RAG_Body_ingest_file_api_v1_ingest_files_post:
      properties:
        file:
          type: string
          format: binary
          title: File
          description: File to upload (multipart/form-data). Maximum size 100MB. Supported formats include PDF, TXT, CSV, JSON, JSONL.
        domain:
          type: string
          title: Domain
          description: Target domain for ingestion (e.g., "document", "product").
          example: document
        strategy:
          type: string
          nullable: true
          title: Strategy
          description: Processing strategy to use. If not provided, uses the domain's default strategy.
          example: general
      type: object
      required:
        - file
        - domain
      title: Body_ingest_file_api_v1_ingest_files_post
    RAG_HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/RAG_ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    RAG_IngestRecordsRequest:
      properties:
        domain:
          type: string
          maxLength: 100
          minLength: 1
          title: Domain
          description: Target domain for ingestion (e.g., 'document', 'product')
          example: product
        strategy:
          type: string
          maxLength: 100
          nullable: true
          title: Strategy
          description: Processing strategy to use. If not provided, uses domain's default strategy
          example: product
        source_name:
          type: string
          maxLength: 255
          nullable: true
          title: Source Name
          description: Optional identifier for this batch of records (e.g., 'import_2024_Q1')
          example: catalog_import_2024_02
        records:
          items:
            additionalProperties: true
            type: object
          type: array
          maxItems: 1000
          minItems: 1
          title: Records
          description: Array of JSON objects to ingest. Must conform to domain's schema
          example:
            - brand: TechCo
              category: Electronics
              description: Ergonomic wireless mouse with USB receiver
              product_id: PROD-001
              title: Wireless Mouse
      type: object
      required:
        - domain
        - records
      title: IngestRecordsRequest
      description: Request model for ingesting JSON records.
    RAG_SearchRequest:
      properties:
        domain:
          type: string
          maxLength: 100
          minLength: 1
          title: Domain
          description: Target domain to search (e.g., 'document', 'product')
          example: document
        query:
          type: string
          maxLength: 1000
          minLength: 1
          title: Query
          description: Search query text. Will be sanitized and embedded for semantic search
          example: machine learning applications in healthcare
        top_k:
          type: integer
          maximum: 100
          minimum: 1
          nullable: true
          title: Top K
          description: Number of results to return. Defaults to 10 if not specified
          example: 10
        filters:
          additionalProperties: true
          type: object
          nullable: true
          title: Filters
          description: Optional metadata filters to narrow results. Keys must match domain's metadata fields
          example:
            category: technology
            year: 2024
      type: object
      required:
        - domain
        - query
      title: SearchRequest
      description: Request model for semantic search.
    RAG_IngestResponse:
      type: object
      properties:
        task_id:
          type: string
          description: Unique identifier for the ingestion task. Use this to poll status.
          example: batch_a1b2c3d4e5f6
        source_name:
          type: string
          description: Name of the ingested source (filename or batch identifier).
          example: document.pdf
        source_id:
          type: string
          description: Unique identifier assigned to the source.
          example: 550e8400-e29b-41d4-a716-446655440000
        domain:
          type: string
          description: Domain the content was ingested into.
          example: document
        status:
          type: string
          description: Initial task status (always "pending" on creation).
          example: pending
          enum:
            - pending
      required:
        - task_id
        - source_name
        - source_id
        - domain
        - status
      title: IngestResponse
    RAG_SearchResponse:
      type: object
      properties:
        query:
          type: string
          description: The original search query.
          example: machine learning applications
        domain:
          type: string
          description: Domain that was searched.
          example: document
        total_found:
          type: integer
          description: Total number of matching results.
          example: 42
        results:
          type: array
          description: Ranked list of search results.
          items:
            type: object
            properties:
              id:
                type: string
                description: Unique identifier of the result chunk.
                example: chunk_abc123
              content:
                type: string
                description: Text content of the matched chunk.
                example: Machine learning is used in...
              score:
                type: number
                format: float
                description: Relevance score (0.0 to 1.0).
                example: 0.8765
              source_name:
                type: string
                description: Name of the source document.
                example: ml_guide.pdf
              metadata:
                type: object
                additionalProperties: true
                description: Domain-specific metadata for the result.
      required:
        - query
        - domain
        - total_found
        - results
      title: SearchResponse
    RAG_TaskStatusResponse:
      type: object
      properties:
        task_id:
          type: string
          description: Unique task identifier.
          example: batch_a1b2c3d4e5f6
        status:
          type: string
          description: 'Current task status: pending, processing, completed, failed, or cancelled.'
          example: completed
          enum:
            - pending
            - processing
            - completed
            - failed
            - cancelled
        progress:
          type: number
          format: float
          description: Processing progress as a percentage (0.0 to 100.0).
          example: 100.0
        created_at:
          type: number
          format: float
          description: Task creation time (Unix timestamp).
          example: 1708012800.0
        started_at:
          type: number
          format: float
          nullable: true
          description: Task start time (Unix timestamp). Null if not yet started.
          example: 1708012801.5
        completed_at:
          type: number
          format: float
          nullable: true
          description: Task completion time (Unix timestamp). Null if still running.
          example: 1708012815.2
        metadata:
          type: object
          description: Task metadata including tenant, domain, and source info.
          properties:
            tenant_id:
              type: string
              example: tenant-abc123
            domain:
              type: string
              example: document
            source_name:
              type: string
              example: document.pdf
        result:
          type: object
          nullable: true
          description: Processing result (available when status is "completed").
          properties:
            chunks_created:
              type: integer
              example: 42
            processing_time_ms:
              type: integer
              example: 13700
        error:
          type: string
          nullable: true
          description: Error message (available when status is "failed").
      required:
        - task_id
        - status
        - progress
        - created_at
      title: TaskStatusResponse
    RAG_ValidationError:
      properties:
        loc:
          items:
            anyOf:
              - type: string
              - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
        - loc
        - msg
        - type
      title: ValidationError
    Social_AgenticCallbackRequest:
      properties:
        task_id:
          type: string
          title: Task Id
          description: Task ID that was processed by Commerce
        message_id:
          type: string
          title: Message Id
          description: Original message ID from Instagram webhook
        session_id:
          type: string
          title: Session Id
          description: Session ID for correlation (must match stored context)
        user_id:
          type: string
          title: User Id
          description: Recipient user ID (Instagram user to send reply to)
        status:
          type: string
          title: Status
          description: 'Processing status: completed, failed'
        response:
          $ref: '#/components/schemas/Social_ResponseItem'
          nullable: true
          description: Response message to send to user
        error:
          $ref: '#/components/schemas/Social_ErrorDetail'
          nullable: true
          description: Error details if status is 'failed'
      type: object
      required:
        - task_id
        - message_id
        - session_id
        - user_id
        - status
      title: AgenticCallbackRequest
      description: |-
        Request payload from Agentic service callback.

        Matches Commerce service's WebhookPayload schema.
        Sent by the Commerce service after processing a message.
    Social_AgenticCallbackResponse:
      properties:
        success:
          type: boolean
          title: Success
          description: Whether the reply was sent successfully
        instagram_message_id:
          type: string
          nullable: true
          title: Instagram Message Id
          description: Instagram message ID of the sent reply
        error:
          type: string
          nullable: true
          title: Error
          description: Error message if the reply failed
      type: object
      required:
        - success
      title: AgenticCallbackResponse
      description: Response for Agentic callback.
    Social_DisconnectAccountResponse:
      properties:
        id:
          type: string
          title: Id
        instagram_account_id:
          type: string
          title: Instagram Account Id
        is_active:
          type: boolean
          title: Is Active
      type: object
      required:
        - id
        - instagram_account_id
        - is_active
      title: DisconnectAccountResponse
      description: Response after disconnecting an account.
    Social_ErrorDetail:
      properties:
        code:
          type: string
          title: Code
          description: Error code (e.g., CART_EMPTY)
        message:
          type: string
          title: Message
          description: User-facing error message
        recoverable:
          type: boolean
          title: Recoverable
          description: Whether user can retry
          default: true
      type: object
      required:
        - code
        - message
      title: ErrorDetail
      description: Error details from Commerce service.
    Social_HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/Social_ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    Social_HealthResponse:
      properties:
        status:
          type: string
          title: Status
        service:
          type: string
          title: Service
        version:
          type: string
          title: Version
      type: object
      required:
        - status
        - service
        - version
      title: HealthResponse
      description: Health check response.
    Social_InstagramPostChild:
      properties:
        media_type:
          type: string
          title: Media Type
        media_url:
          type: string
          nullable: true
          title: Media Url
        thumbnail_url:
          type: string
          nullable: true
          title: Thumbnail Url
      type: object
      required:
        - media_type
      title: InstagramPostChild
      description: Child media item for a carousel post.
    Social_InstagramPostCreateRequest:
      properties:
        image_url:
          type: string
          title: Image Url
        caption:
          type: string
          nullable: true
          title: Caption
      type: object
      required:
        - image_url
      title: InstagramPostCreateRequest
      description: Request to create an Instagram image post.
    Social_InstagramPostCreateResponse:
      properties:
        container_id:
          type: string
[...]
